html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.42;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.section__title {
  font-family: "Gagalin-Regular";
  font-size: 72px;
  margin-bottom: 15px;
  color: #e7b247;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

footer {
  position: relative;
  width: 100%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section {
  height: 100vh;
  min-height: 650px;
}

@font-face {
  font-family: "Gagalin-Regular";
  src: url(../fonts/Gagalin-Regular.woff) format("woff");
}
@font-face {
  font-family: "Lifehack Medium";
  src: url(../fonts/Lifehack-Medium.woff) format("woff");
}
@font-face {
  font-family: "Ubuntu Light";
  src: url(../fonts/Ubuntu-Light.woff) format("woff");
}
.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.section__title {
  font-family: "Gagalin-Regular";
  font-size: 72px;
  margin-bottom: 15px;
  color: #e7b247;
}

.btn {
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  background: #c7512e;
  display: inline-block;
  height: 35px;
  border-radius: 3px;
}

.hero {
  background: url("../img/section-bg/hero-bg.jpg");
  background-size: cover;
}

.header {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.header__btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav__list {
  display: flex;
  align-items: center;
}
.nav__link {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
}
.nav__items {
  display: flex;
  align-items: center;
}
.nav__items:before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
  display: block;
  margin: 0 15px;
}
.nav__items:first-child::before {
  display: none;
}

.hero__content {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
}
.hero__text {
  margin-left: 15px;
}
.hero__description-title {
  font-family: "Lifehack Medium";
  font-size: 65px;
  margin-bottom: 20px;
  color: #fff;
}

.best {
  background: url("../img/section-bg/best-bg.jpg");
  background-size: cover;
}
.best__container {
  display: flex;
  justify-content: center;
}
.best__content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.best__list {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.best__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}

.best__pic {
  display: flex;
  margin-bottom: 30px;
  height: 100px;
}
.best__text {
  text-align: center;
}
.best__title {
  margin-bottom: 25px;
  font-family: "Lifehack Medium";
  font-size: 24px;
}
.best__description {
  font-family: "Ubuntu Light";
  font-size: 14px;
}

.section__title--black {
  color: #333537;
  margin-bottom: 60px;
}

.burgers {
  background: url("../img/section-bg/burgers-scroll-bg.jpg");
  background-size: cover;
}
.burgers__container--align-items {
  display: flex;
  max-width: 100%;
  justify-content: center;
}
.burgers__list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 1154px;
}
.burgers__item {
  width: 50%;
}
.burgers__icon {
  display: flex;
  flex-direction: column;
  width: 90px;
  height: 90px;
  align-items: center;
  justify-content: center;
  position: absolute;
  border-radius: 5px;
  background-color: rgba(227, 80, 40, 0.4);
  color: #fff;
  font-family: "Gagalin-Regular";
}
.burgers__icon-svg {
  width: 50px;
  height: 50px;
}
.burgers__kkal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  opacity: 0.5;
  color: #fff;
  width: 70px;
  height: 80px;
  padding-top: 350px;
}
.burgers__weight {
  position: absolute;
  padding-top: 25px;
  font-family: "Gagalin-Regular";
  font-size: 20px;
}
.burgers__calories {
  font-family: "Gagalin-Regular";
  font-size: 18px;
}
.burgers__pic {
  display: flex;
  justify-content: center;
  height: 400px;
}
.burgers__pic-png {
  margin-right: 20px;
}
.burgers__description {
  color: #fff;
  font-size: 18px;
}
.burgers__info {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.burgers__price {
  font-family: "Gagalin-Regular";
  margin-right: 10px;
  color: #c7512e;
  font-size: 30px;
}
.burgers__price-span {
  font-size: 72px;
}
.burgers__value-span {
  font-size: 30px;
}
.burgers__btn--margin {
  margin-top: 50px;
}
.burgers .section__title--white {
  line-height: normal;
  color: #fff;
}