@font-face {
  font-family: "Gagalin-Regular";
  src: url(../fonts/Gagalin-Regular.woff) format("woff");
}
@font-face {
  font-family: "Lifehack Medium";
  src: url(../fonts/Lifehack-Medium.woff) format("woff");
}
@font-face {
  font-family: "Ubuntu";
  src: url(../fonts/Ubuntu-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: lighter;
  src: url(../fonts/Ubuntu-Light.woff) format("woff");
}
@font-face {
  font-family: "Ubuntu";
  font-weight: bold;
  src: url(../fonts/Ubuntu-B.ttf) format("truetype");
}
.section__title--white {
  color: #fff;
}

.section__title--white {
  color: #fff;
}

html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  line-height: 1.42;
  position: relative;
}

.wrapper {
  position: relative;
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
}

.container {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  height: 100%;
}

.section__title {
  font-family: "Gagalin-Regular";
  font-size: 72px;
  margin-bottom: 15px;
  color: #e7b247;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  font-weight: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

p {
  padding: 0;
  margin: 0;
}

input {
  font-family: "Ubuntu";
  font-weight: lighter;
  padding-left: 10px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.section {
  height: 100vh;
  min-height: 650px;
}

button {
  outline: none;
  border: 0;
}

.btn {
  padding: 10px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 13px;
  color: #fff;
  background: #c7512e;
  display: inline-block;
  border-radius: 3px;
}

.hero {
  background: url("../img/section-bg/hero-bg.jpg");
  background-size: cover;
}

.header {
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.header__btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

.nav__list {
  display: flex;
  align-items: center;
}

.nav__link {
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__items {
  display: flex;
  align-items: center;
}
.nav__items:before {
  content: "";
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background: #fff;
  display: block;
  margin: 0 15px;
}
.nav__items:first-child::before {
  display: none;
}

.hero__content {
  display: flex;
  flex: 1;
  align-items: flex-end;
  justify-content: center;
}

.hero__text {
  margin-left: 15px;
}

.hero__description-title {
  font-family: "Lifehack Medium";
  font-size: 65px;
  margin-bottom: 20px;
  color: #fff;
}

.best {
  background: url("../img/section-bg/best-bg.jpg");
  background-size: cover;
}
.best__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.best__list {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.best__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 33%;
}
.best__pic-svg {
  margin-bottom: 30px;
  height: 100px;
}
.best__text {
  text-align: center;
}
.best__title {
  margin-bottom: 25px;
  font-family: "Lifehack Medium";
  font-size: 24px;
}
.best__description {
  font-family: "Ubuntu";
  font-size: 14px;
}
.best .section__title--black {
  color: #333537;
  margin-bottom: 60px;
}

.reviews__wrap {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.reviews__item {
  display: flex;
  flex-direction: column;
  width: 25%;
  height: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  position: relative;
}
.reviews__item:hover .reviews__content {
  opacity: 1;
  transform: scale(1);
}
.reviews__content {
  position: absolute;
  display: none;
  width: 100%;
  height: 100%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: 0.3s opacity ease-in-out, 0.3s transform ease-in-out;
  transform: scale(0.8);
  color: #fff;
}
.reviews__name {
  margin-bottom: 25px;
  font-family: "Gagalin-Regular";
  line-height: normal;
  font-size: 16px;
}
.reviews__opinion {
  font-family: "Ubuntu";
  line-height: 24px;
  margin-bottom: 20px;
}
.reviews__btn {
  width: 110px;
  background: #333537;
  font-family: "Ubuntu";
}

.team {
  background: url(../img/section-bg/team-bg.png);
  background-size: cover;
  position: relative;
  background-repeat: no-repeat;
}
.team__wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(51, 53, 55, 0.93);
  padding: 115px 140px 0px 100px;
}
.team__content {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  padding: 10px;
}
.team__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 5px;
}
.team__item.is-active .team__item-content {
  display: flex;
}
.team__item.is-active .team__item-title {
  color: #e7b247;
}
.team__item-title {
  display: inline-block;
  margin-bottom: 10px;
  font-family: "Gagalin-Regular";
  background: none;
  border: 0;
  padding: 0;
  text-align: left;
  color: #fff;
  font-size: 14px;
  line-height: 28px;
}
.team__item-content {
  display: none;
  flex-direction: row;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.team__item-description {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  color: #fff;
  font-family: "Ubuntu";
  font-size: 14px;
  line-height: 24px;
}

.map {
  background: url(../img/section-bg/map-bg.jpg);
  background-size: cover;
  position: relative;
}
.map__pic {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
}

.menu {
  background: url(../img/section-bg/menu-bg.jpg);
  background-size: cover;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100%;
}
.menu__title {
  margin-left: 95px;
  margin-top: 110px;
  color: #fff;
}
.menu__list {
  position: relative;
  display: flex;
  flex-direction: row;
  height: 100%;
  left: 0;
}
.menu__item {
  display: flex;
  background-repeat: no-repeat;
  height: 100%;
}
.menu__item.is-active .menu__item-title {
  color: #e7b247;
}
.menu__item.is-active .menu__content {
  display: flex;
}
.menu__item-title {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-family: "Gagalin-Regular";
  height: 100%;
  font-size: 40px;
  line-height: 80px;
  padding-top: 30px;
  color: #fff;
}
.menu__content {
  display: none;
  background: rgba(51, 53, 55, 0.93);
  padding: 50px 30px;
  font-family: "Ubuntu";
  max-width: 500px;
  color: #fff;
}

.youtube {
  background-image: url("../img/section-bg/youtube-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.youtube__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.youtube__title {
  color: black;
  margin-bottom: 50px;
}

.delivery {
  background-image: url("../img/section-bg/form-bg.jpg");
  background-color: rgba(200, 100, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
}
.delivery__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.delivery__title {
  display: flex;
  justify-content: center;
}

.form {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.form__column {
  color: #fff;
  width: 50%;
}
.form__row {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-bottom: 20px;
}
.form__block {
  width: 100%;
}
.form__input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
}
.form__comment {
  width: 100%;
}
.form__order {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.form__btn {
  font-family: "Ubuntu";
}
.form__clear {
  display: flex;
  align-items: center;
  background: none;
  color: #fff;
  font-family: "Ubuntu";
  font-weight: lighter;
}
.form__radio {
  font-family: "Ubuntu";
  font-weight: lighter;
}
.form__radio-item {
  display: none;
}
.form__radio-fake {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: relative;
  margin-right: 10px;
  border-radius: 50%;
}
.form__radio-fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 7px;
  height: 7px;
  background-color: red;
  border-radius: 50%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: 0.2s;
}
.form__radio-item:checked + .form__radio-fake::before {
  opacity: 1;
}
.form__checkbox {
  font-family: "Ubuntu";
  font-weight: lighter;
}
.form__checkbox-item {
  display: none;
}
.form__checkbox-fake {
  display: inline-block;
  width: 15px;
  height: 15px;
  background-color: #fff;
  position: relative;
  margin-right: 10px;
}
.form__checkbox-fake::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
  width: 10px;
  height: 10px;
  background-image: url("../img/icons/OK.png");
  background-repeat: no-repeat;
  opacity: 0;
  transition: 0.2s;
}
.form__checkbox-item:checked + .form__checkbox-fake::before {
  opacity: 1;
}

.footer {
  background: black;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
.footer__info {
  display: flex;
  flex-direction: column;
}
.footer__number {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.footer__phone {
  color: #c7512e;
  text-decoration: none;
  font-family: "Ubuntu";
  font-weight: bold;
}
.footer__list {
  height: 100%;
  display: flex;
  justify-content: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.footer__item {
  display: flex;
}
.footer__item:hover {
  opacity: 0.6;
  transition: 0.3s;
}
.footer__address {
  font-family: "Ubuntu";
  font-weight: lighter;
  color: #fff;
  margin-bottom: 5px;
}
.footer__icons-svg {
  width: 25px;
  height: 25px;
}