.burgers {
  background: url("../img/section-bg/burgers-scroll-bg.jpg");
  background-size: cover;
}
.burgers__container--align-items {
  display: flex;
  max-width: 100%;
  justify-content: center;
}
.burgers__list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 1154px;
}
.burgers__item {
  width: 50%;
}
.burgers__pic {
  display: flex;
  justify-content: center;
  height: 400px;
}