.burgers {
  background: url("../img/section-bg/burgers-scroll-bg.jpg");
  block-size: cover;
}
.burgers__content {
  display: flex;
  flex-direction: row;
}
.burgers__list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.burgers__item {
  width: 50%;
}