.delivery {
  background-image: url(../img/section-bg/form-bg.png);
  background-color: rgba(200, 100, 0, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
}
.delivery__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.delivery__title {
  display: flex;
  justify-content: center;
}
.delivery .form {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.delivery .form__column {
  color: #fff;
  width: 50%;
}
.delivery .form__row {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
  margin-bottom: 20px;
}
.delivery .form__block {
  width: 100%;
}
.delivery .form__input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
}
.delivery .form__comment {
  width: 100%;
  height: 120px;
}
.delivery .form__order {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.delivery .form__btn {
  font-family: "Ubuntu";
}
.delivery .form__clear {
  display: flex;
  align-items: center;
  background: none;
  color: #fff;
  font-family: "Ubuntu";
  font-weight: lighter;
}
.delivery .form__radio {
  font-family: "Ubuntu";
  font-weight: lighter;
}
.delivery .form__radio-item {
  margin-right: 10px;
}
.delivery .form__checkbox {
  font-family: "Ubuntu";
  font-weight: lighter;
}
.delivery .form__checkbox-item {
  margin-right: 10px;
}