.footer {
  background: black;
  width: 100%;
}
.footer__container {
  display: flex;
  justify-content: space-between;
}
.footer__list {
  height: 100%;
  display: flex;
  justify-content: center;
}
.footer__item {
  display: flex;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.footer__adress {
  font-family: "Ubuntu";
  font-weight: lighter;
  color: #fff;
  margin-bottom: 10px;
}
.footer__icons-svg {
  width: 25px;
  height: 25px;
}