.footer {
  background: black;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__info {
    display: flex;
    flex-direction: column;
  }

  &__number {
    display: flex;
    column-gap: 10px
  }

  &__phone {
    color: #c7512e;
    text-decoration: none;
    font-family: 'Ubuntu';
    font-weight: bold;
  }

  &__list {
    height: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
  }

  &__item {
    display: flex;

    &:hover {
      opacity: .6;
      transition: .3s;
    }
  }

  &__address {
    font-family: 'Ubuntu';
    font-weight: lighter;
    color: #fff;
    margin-bottom: 5px
  }

  &__icons-svg {
    width: 25px;
    height: 25px;
  }


}