.youtube{
  background-image: url(../img/section-bg/youtube-bg.png);
  background-size: cover;
  background-repeat: no-repeat;

  &__container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  &__title{
    color: black;
    margin-bottom: 50px;
  }
}