@font-face {
    font-family: 'Gagalin-Regular';
    src: url(../fonts/Gagalin-Regular.woff) format('woff');
}

@font-face {
    font-family: 'Lifehack Medium';
    src: url(../fonts/Lifehack-Medium.woff) format('woff');
}

@font-face {
    font-family: 'Ubuntu';
    src: url(../fonts/Ubuntu-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'Ubuntu';
    font-weight: lighter;
    src: url(../fonts/Ubuntu-Light.woff) format('woff');
}
@font-face {
    font-family: 'Ubuntu';
    font-weight: bold;
    src: url(../fonts/Ubuntu-B.ttf) format('truetype');
}